.app {
  font-family: Industry;
  min-height: 100vh;
  background-color: var(--gray-bg);
}

.app :global(header) {
  background-color: var(--primary-color);
  color: white;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app :global(main) {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;

  @media (min-width: 1280px) {
    max-width: 80rem;
    padding: 1.5rem;
  }
  @media (min-width: 640px) {
    padding: 1rem;
  }
}

.app :global(h1) {
  text-align: center;
  margin-left: 1.125rem;
  font-size: 1.5rem;
}
